.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}

.card__img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card__content {
    padding: 15px 15px;
}

.card__title {
    padding-bottom: 10px;
}

.card__text {
    padding-bottom: 12px;
}

.card__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__stack {
    padding-bottom: 10px;
}

.card__link {
    color: #000000;
    font-size: var(--fs-16);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.card__link::before {
    width: 20px;
    height: 20px;
}

.card__link--live::before {
    content: url('/icons/link-icons/link-chain.svg');
}

.card__link--code::before {
    content: url('/icons/link-icons/link-github.svg');
}

@media screen and (min-width: 400px) {
    .card { 
        width: 373px;
    }
}

@media screen and (min-width: 800px) {
    .card__content {
        padding: 25px 30px;
    }

    .card__title {
        padding-bottom: 17px;
    }

    .card__stack {
        padding-bottom: 21px;
    }
}