:root {
    --body-color: #f5f5f5;
    --title-color: #42446E;
    --text-color: #666666;
    --gradient-color-blue: #13B0F5;
    --gradient-color-pink: #E70FAA;
    --text-gradient: linear-gradient(#13B0F5, #E70FAA);

    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-38: 2.375rem;
    --fs-48: 3rem;
    --fs-58: 3.625rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
}

.container {
    width: 100%;
    padding: 10px;
}

.main {
    padding: 10px;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
}